@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Nunito:wght@300&family=Poppins:wght@300&family=Quicksand&family=Roboto:wght@300&family=Rubik+Iso&family=Special+Elite&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    background-color: #fff4f4;
}

button {
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    background-color: #FFF6E0;
    border-radius: .2rem;
}

button:disabled{
    color: #000000;
    background-color: #FFF6E0;
    border-color: #61677A;
}

button#point{
    width: 8rem;
}

.main-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 17.5rem;
    height: 26rem;
    background-color: #61677A;
    border-radius: .5rem;
}

.frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 20rem;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: #D8D9DA;
    width: 16rem;
    height: 4rem;
    border-radius: .2rem;
}


#curr-value{
    font-size: 2rem;
    margin: .3rem .5rem;
}

.shrinkFontOne {
    font-size: 1.5rem;
}

.shrinkFontTwo {
    font-size: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-direction: row;
}

.numpad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.active {
    border: 3px solid #ffbb5c ;
}